.main-page {
    background: url("https://politrp.github.io/website.main/public/background.png") no-repeat top center;
    background-size: cover;
    min-height: 100vh;
}
.scroll-smooth {
    scroll-behavior: smooth
}
.logo {
    color: white;
    font-weight: bold;
}