* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 
header {
    background-color: rgba(17,17,17,0.7);
    padding: 20px 100px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    display: flex
}
.navigation {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
};