body {
    background-image: url("/public/background.png"); /* Путь к вашему изображению */
    background-size: cover; /* Масштабировать изображение так, чтобы оно полностью покрывало задний фон */
    background-repeat: no-repeat; /* Запретить повторение изображения */
}
